.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}

.detailBox {
  display: block;
  text-align: left;
  width: 60%;
  font-size: 18px;
  font-weight: 600;
  color: rgb(2, 70, 75);
}

.detailBox > h2 {
  color: brown;
  margin-top: 0;
  font-size: 24px;
  font-weight: 600;
}

.image {
  margin-right: 20px;
  border-radius: 5px;
}

.detailList {
  display: block;
  list-style: none;
  padding: 0;
}

.detailList > li {
  display: flex;
}

.title {
  padding: 0;
}

span {
  padding: 15px;
}

.text {
  padding-left: 40px;
}

.info {
  color: black;
}
