body {
  margin: 0;
  background-color: rgb(180, 225, 213);
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  display: flex;
  color: rgb(4 5 44);
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  list-style: none;
  text-shadow: 5px 1px 5px #61dafb;;
  letter-spacing: 0.5rem;
}

.link > li {
  list-style: none;
  /* min-width: 100px; */
}

.NavLink {
  text-align: center;
  font-size: 24px;
  counter-reset: currentColor;
}

.active {
  color: rgb(209, 49, 102);
  font-style: italic;
}

.Title {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: rgb(4, 5, 44);
}

.titleRating {
  font-size: 16px;
  font-weight: 600;
  color: rgb(213, 8, 8);
}

.titleRelise {
  font-size: 16px;
  color: rgb(233, 73, 15);
}

.titleOverview {
  font-style: italic;
  font-weight: 500;
  color: rgb(4, 5, 44);
}

.MovieGallery {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.AppBar {
  display: flex;
  align-items: center;
  min-height: 80px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid #ccc;
}

.btn {
  background-color: #0baeba;
  border: none;
  color: white;
  padding: 6px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 40px;
  cursor: pointer;
  border-radius: 4px;
}

.info {
  display: flex;
  font-family: 'Dosis', sans-serif;
  margin: 30px 15px;
  padding-left: 25px;
  font-size: 18px;
  font-weight: 400;
}

.moreInfo {
  display: flex;
  width: 100%;
  margin: 20px auto;
  background-color: #0b7fbd;
    box-shadow: 0px 2px 4px -1px rgb(231 11 33 / 45%), 0px 4px 5px 0px rgb(209 11 70 / 33%), 0px 1px 10px 0px rgb(187 10 93 / 34%);
  color: white;
}
.description {
  display: grid;
    max-width: calc(100vw - 80px);
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    grid-gap: 16px;
    list-style: none;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
}

.homePageTitle {
  font-family: 'Dosis', sans-serif;
  text-align: center;
  margin: 10px 0 0;
  font-size: 28px;
  font-weight: 500;
  color: rgb(9, 92, 130)
}