body {
  margin: 0;
  background-color: rgb(180, 225, 213);
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:global(.myClass) {
  font-size: 16px;
  font-weight: 600;
  color: rgb(4, 5, 44);
}

.titleRelise {
  font-size: 16px;
  color: rgb(233, 73, 15);
}

.titleOverview {
  font-style: italic;
  font-weight: 500;
  color: rgb(4, 5, 44);
}

.popularity {
  font-size: 18px;
  font-weight: 600;
  color: rgb(248, 248, 248);
  background-color: rgb(57, 0, 85);
  margin-left: 10px;
  padding: 3px 5px;
  border-radius: 4px;
}

.movieList {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

ul {
  display: flex;
}

.listBox {
  padding-top: 20px;
}
